@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?m4kf3k');
  src:  url('../fonts/icomoon.eot?m4kf3k#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?m4kf3k') format('truetype'),
    url('../fonts/icomoon.woff?m4kf3k') format('woff'),
    url('../fonts/icomoon.svg?m4kf3k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e912";
}
.icon-in:before {
  content: "\e90c";
}
.icon-insta:before {
  content: "\e90d";
}
.icon-kisa:before {
  content: "\e90e";
}
.icon-ball:before {
  content: "\e90f";
}
.icon-twitter:before {
  content: "\e910";
}
.icon-facebook:before {
  content: "\e911";
}
.icon-MenuBar:before {
  content: "\e90b";
}
.icon-konvert:before {
  content: "\e900";
}
.icon-map-marker:before {
  content: "\e901";
}
.icon-kubok:before {
  content: "\e902";
}
.icon-checkBox:before {
  content: "\e903";
}
.icon-tel:before {
  content: "\e904";
}
.icon-smile:before {
  content: "\e905";
}
.icon-rocket:before {
  content: "\e906";
}
.icon-nout:before {
  content: "\e907";
}
.icon-download:before {
  content: "\e908";
}
.icon-code:before {
  content: "\e909";
}
.icon-znak:before {
  content: "\e90a";
}
