body{
    font-family: Franklin Gothic, sans-serif;
}

h2{
    font-size: 25px;
}

a:visited{
    color: #fff;
}

nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    text-align: center;
    z-index: 2;
}

.logo{
    color: #fff;
    font-size: 24px;
    line-height: 60px;
}

.menu li{
    float: left;
    font-size: 16px;
    line-height: 60px;
    color: #fff;
    margin: 0 20px;
    text-transform: uppercase;
    /*-webkit-animation: topshift 1s ease forwards;
    -o-animation: topshift 1s ease forwards;
    animation: topshift 1s ease forwards;
    opacity: 0;*/
}

@keyframes topshift{
    from{
        opacity: 0;        
        margin-top: -80px;
    }
    
    to{
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2){
    animation-delay: 2.4s;
} 

.menu li:nth-child(3){
    animation-delay: 2.8s;
} 

.menu li:nth-child(4){
    animation-delay: 3.2s;
} 

.menu li:nth-child(5){
    animation-delay: 3.6s;
} 

.menu li:nth-child(6){
    animation-delay: 4s;
} 

.menu li a{
    transition: all 0.1s;
    color: white;
    display: inline-block;
    text-decoration: none;
}

.menu li a:hover{
    color: #f28d09;
    transform: scale(1.1);
}

.menu li a:active{
    transform: scale(1.2);
}

.dropdown .dropdown-toggle{
    color: #fff;
    transition: all 0.2s;
}

#dropdownMenuLink:hover{
    transition: all 0.2s;
    transform: scale(1.1);
}

#dropdownMenuLink:visited{
    color: white;
}

.dropdown>a::before{
    content:"\e90b";
    font-family: 'icomoon' !important;
    font-size: 15px;
    padding-right: 5px;
}

.dropdown-menu{
    background: #344051;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.dropdown-menu a:visited{
    color: #fff;
}
.dropdown-menu a{
    color: #fff;
}

.dropdown-menu a:hover{
    background: #344051;
    color: #f28d09;
    font-size: 20px;
}

/*--main--*/
.main{
    width: 100wh;
    height: 100vh;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat,url(../img/fon.png) center/cover no-repeat;
}

.title__container{
    margin-top: 30%;
    float:left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    /*-webkit-animation: titlemove 0.7s forwards;
    -o-animation: titlemove 0.7s forwards;
    animation: titlemove 0.7s forwards;
    animation-delay:4.1s ;
    opacity: 0;*/
}

.title__container h1{
    font-size: 85px;
    font-weight: normal;
}

.title__container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    border-radius: 6px;
    background: none;
    color: #6d7682;
    font-size: 12px;
    padding: 0px 16px;
    margin: 58px 14px;
    transition: all 0.2s;
}

.title__container input:hover{
    background: #344051;
    color: white;
    transform: scale(1.1);
}

@keyframes titlemove{
    from{
        opacity: 0;        
        margin-left: -500px;
    }
    
    to{
        opacity: 1;
        margin-left: 0;
    }
}

@media (max-width: 991px){
    .title__container, .title__container h4, .title__container input{
        color: white;
        position: relative;
        z-index: 1;
    }
    
    .title__container input{
        border: 2px solid #fff;
    }
    
    .main{
        position: relative;
    }
    
    .main::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0, .4);
    }
    
    .title__container{
        animation-delay: 2.2s ;
    }
}



/*--about me--*/
.about_me img{
    width: 180px;
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about_me p{
    font-family: Calibri;
    font-size: 16px;
    line-height: 14px;
}

.about_me button{
    height: 34px;
    color: #6f707e;
    border: 2px solid #6f707e;
    border-radius: 6px;
    font-size: 13px;
    background:white;
    padding-left: 21px;
    padding-right: 7px;
    position: relative;
}

.about_me button::before{
    position: absolute;
    content: "\e908";
    font-family: 'icomoon' !important;
    color: #aaa;
    left: 5px;
}

.about_me button:active{
    transform: scale(1.1);
}

/*--orange line--*/
.line{
    padding: 15px 0px;
    width: 60px;
    border-bottom: 5px solid #d17700;
}


/*--What i can do--*/
.what_i_can_do{
    background: url(../img/I_do_fon.png) center/100% 100% no-repeat;
}

.what_i_can_do .row h4{
    font-family: Bahnschrift;
    font-size: 21px;
    font-weight: 900;
    color: #e87700;
    padding-top: 30px;
    padding-bottom: 15px;
}

.what_i_can_do .row p{
    font-family: Calibri;
    line-height: 17px;
    font-size: 18px;
    font-weight: 500;
}

#nout, #znak, #raketa, #oralo{
    font-family: 'icomoon' !important;
    font-size: 50px;
    font-weight: 500;
}

#nout::before{
    content: "\e907";
    font-weight: 900;
}

#znak::before{
    content: "\e909";
}

#raketa::before{
    content: "\e906";
}

#oralo::before{
    content: "\e90a";
}



/*--Cases--*/
.cases>.container>p{
    padding: 35px 0;
    margin: 0;
    font-family: Calibri;
}

.cases a:visited{
    color: #000;
}

.cases .row h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
}

.cases .row span, .cases .row a, .cases .row p{
    font-family: Calibri;
    font-size: 14px;
}

.cases .row p{
    font-size: 17px;
}

.cases .row input{
    margin-top: 15px;
    height: 46px;
    background-color: #63b5ae;
    color: #fff;
    font-size: 17px;
    padding: 0 30px;
    border-radius: 6px;
    text-transform: uppercase;
}

.cases .row input:active{
    transition: all 0.1s;
    transform: scale(1.1)
}


/*--cost--*/
.cost_calculation h2{
    text-align: center;
}

.cost_calculation .container{
    box-shadow: 0px 0px 20px 4px #ccc;
}

.cost_calculation h3{
    font-size: 18px;
    font-weight: 600;
    margin: 24px 0 15px 0;
}

.cost_calculation select{
    background: #eee;
    padding: 10px;
}

.calculation{
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid #eee;
    font-weight: 500;
    font-size: 16px;
}

.zero{
    text-align: end;
    font-weight: 700;
    font-size: 20px;
}

.cost_calculation input{
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    height: 46px;
    background-color: #63b5ae;
    color: #fff;
    font-size: 17px;
    border-radius: 6px;
    text-transform: uppercase;
}

.cost_calculation input:active{
    transition: all 0.1s;
    transform: scale(1.1)
}


/*--some statistics--*/
.parallax{
    background-image: url(../img/parallax.jpeg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.parallax .row h3{
    font-family: Impact;
    font-size: 35px;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 15px;
}

.parallax .row p{
    line-height: 16px;
    font-size: 18px;
    font-weight: 100;
}

#smile::before, #orange_znak::before, #galochka::before, #kubok::before{
    color: #ea7e00;
    font-family: 'icomoon' !important;
    font-size: 50px;
    font-weight: 500;
}

#smile::before{
    content: "\e905";
}

#orange_znak::before{
    content: "\e909";
}

#galochka::before{
    content: "\e903";
}

#kubok::before{
    content: "\e902";
}


/*--reviews--*/
.reviews p{
    font-family: Calibri;
    font-size: 18px;
}


/*--contacts--*/
.contacts{
    background: url(../img/contacts_fon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    color: #fff;
}

.contacts>.container>p{
    margin: 30px 0;
}


#Geo, #konvert, #Tel{
    color: #fff;
    font-family: 'icomoon' !important;
    font-size: 15px;
    font-weight: 500;
}

#Geo::before, #konvert::before, #Tel::before{
    font-size: 25px;
    line-height: 60px;
}

#Geo::before{
    content: "\e901";
}

#konvert::before{
    content: "\e900";
}

#konvert a{
    display: block;
}

#Tel::before{
    content: "\e904";
}

.contacts h4{
    font-size: 18px;
}

.contacts form{
    width: 60%;
    margin: 30px auto;
}

@media (max-width: 960px){
    .contacts form{
        width: 100%;
    }
}


#left:focus, #right:focus, #massage:focus{
    box-shadow: 0 0 4px 1px #88dccf;
}

.contacts input{
    font-size: 12px;
    line-height: 22px;
    padding: 5px 0 5px 4px;
}

#left{
    float: left;
    width: 47%;
}

#right{
    float: right;
    width: 47%;
}

#massage{
    width: 100%;
    height: 80px;
    resize: none; 
    margin: 15px auto;
    padding: 5px 0 0 4px;
}

#Send{
    display: block;
    margin: 15px auto;
    padding: 6px 10px;
    background: none;
    border: 1px solid #fff;
    border-radius: 6px;
    color: #fff;
    transition: transform 0.1s;
}

#Send:hover{
    transition: transform 0.1s;
    transform: scale(1.1);
    background: white;
    color: black;
}

.icons{
    font-size: 25px;
}

.icons .row div:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.icon-facebook:before {
  content: "\e911";
}

.icon-twitter:before {
  content: "\e910";
}

.icon-ball:before {
  content: "\e90f";
}

.icon-kisa:before {
  content: "\e90e";
}

.icon-insta:before {
  content: "\e90d";
}

.icon-in:before {
  content: "\e90c";
}


/*--footer--*/
footer h6{
    height: 100px;
    background: #354051;
    line-height: 100px;
    padding: 30px auto;
    color: #fff;
    text-align: center;
}