body{
    font-family: Arial, sans-serif;
}

/*preloader*/
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 300;
    visibility: visible;
    animation:1s invis 1 2s linear forwards;
}

@keyframes invis{
    from{
        visibility: visible;
    }
    
    to{
        visibility: hidden;
    }
}

.loader{
    width: 150px;
    height: 150px;
    border: 2px solid #eae4ea;
    border-radius: 50%;
    box-shadow: 0 -2px 2px rgba(0,0,0,.2);
    border-left: 10px solid #6ddfca;
    margin: 21% auto;
    animation: 1s loader infinite;
}

.loader:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border: 2px solid #eae4ea;
  box-shadow: 0 -2px 2px rgba(0,0,0,.2);
  border-left: 2px solid #d355be;
  border-radius: 50%;
  animation: loader 2s linear infinite;
}

.loader:after {
  content: '';
  position: absolute;
  top: 22px;
  left: 22px;
  bottom: 22px;
  right: 22px;
  border: 2px solid #eae4ea;
  box-shadow: 0 -2px 2px rgba(0,0,0,.2);
  border-bottom: 2px solid #8c23ec;
  border-radius: 50%;
  animation: loader 1s linear infinite;
}

@keyframes loader{
    from{
        transform: rotate(0deg);
    }
    
    to{
        transform: rotate(360deg);
    }
}


h2{
    padding: 90px 0px 0px;
    width: 100%;
    text-align: center;
    font-size: 26px; 
}

/*--header--*/
nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 100;
}

.logo{
    color: #fff;
    font-size: 24px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
    animation: comming 2.3s;
}

.menu{
    float: left;
    padding-left: 415px;
}

.menu li{
    float: left;
    margin: 0 20px;
    font-size: 16px;
    line-height: 60px;
    color: #fff;
    text-transform: uppercase;
    -webkit-animation: topshift 1s ease forwards;
    -o-animation: topshift 1s ease forwards;
    animation: topshift 1s ease forwards;
    opacity: 0;
}

.menu li:nth-child(2){
    animation-delay: 2.4s;
} 

.menu li:nth-child(3){
    animation-delay: 2.8s;
} 

.menu li:nth-child(4){
    animation-delay: 3.2s;
} 

.menu li:nth-child(5){
    animation-delay: 3.6s;
} 

.menu li:nth-child(6){
    animation-delay: 4s;
} 

.menu li a{
    transition: all 0.1s;
    color: white;
    display: inline-block;
}

.menu li a:visited{
    color: #fff;
}

.menu li a:hover{
    color: #f28d09;
    transform: scale(1.1);
}

.menu li a:active{
    transform: scale(1.2);
}

@keyframes comming{
    from{
        opacity: 0;
    }
    
    to{
        opacity: 1;
    }
}

@keyframes topshift{
    from{
        opacity: 0;        
        margin-top: -80px;
    }
    
    to{
        opacity: 1;
        margin-top: 0px;
    }
}


/*--main--*/
.main{
    width: 100%;
    height: 100%;
    background: url(../img/boy.png)90% 100%/auto 85% no-repeat,url(../img/fon.png) center/cover no-repeat;
}

.title__container{
    float:left;
    margin: 360px 0px 0px 390px;
    color: #2c384a;
    text-align: center;
    -webkit-animation: titlemove 0.7s forwards;
    -o-animation: titlemove 0.7s forwards;
    animation: titlemove 0.7s forwards;
    animation-delay:4.1s ;
    opacity: 0;
}

.title__container h1{
    font-size: 60px;
    font-weight: bold;
}

.title__container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    border-radius: 6px;
    background: none;
    color: #6d7682;
    font-size: 12px;
    padding: 0px 16px;
    margin: 58px 14px;
    transition: all 0.2s;
}

.title__container input:hover{
    background: #344051;
    color: white;
    transform: scale(1.1);
}

@keyframes titlemove{
    from{
        opacity: 0;        
        margin-left: -500px;
    }
    
    to{
        opacity: 1;
        margin-left: 390px;
    }
}

/*--about me--*/
.about_me{
    height: 900px;
}

.about_me img{
    width: 200px;
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about_me p{
    text-align: center;
    font-size: 16px;
    margin: 30px auto;
    line-height: 32px;
    width: 40%;
}

.about_me button{
    height: 34px;
    text-align: center;
    color: #6f707e;
    border: 2px solid #6f707e;
    border-radius: 6px;
    font-size: 12px;
    background:white;
    padding-left: 21px;
    padding-right: 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.about_me button::before{
    position: absolute;
    content: "\f019";
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900;
    color: #aaa;
    left: 5px;
}

.about_me button:active{
    transform: scale(1.1);
}

/*--orange line--*/
.line{
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0px;
    width: 60px;
    border-bottom: 5px solid #d17700;
}

/*--What i can do--*/
.what_i_can_do{
    height: 520px;
    background-image: url(../img/I_do_fon.png);
}

.item_scills{
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin: 60px auto;
}

.item_scills h4{
    color: #cf7600;
    font-weight: 700;
    margin: 35px 0px 35px 0px;
}

.nout, .znak, .raketa, .oralo{
    margin-top: 70px;
    width: 190px;
    text-align: center;
    position: relative;
}

.nout::before, .znak::before, .raketa::before, .oralo::before{
    position: absolute;
    right: 70px;
    bottom: 140px;
    content: "\f109";
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    font-weight: 600;
    font-size: 47px;
    color: #313d4e;
}
.znak::before{
    content: "\f121";
    font-weight: 600;
}
.raketa::before{
    content: "\f135";
}
.oralo::before{
    content: "\f0a1";
}

/*--cases--*/
.cases{
    height: 1160px;
}

.cases p{
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 42px 0px;
}

.cases img{
    display: block;
    height: 590px;
    margin-left: auto;
    margin-right: auto;
}

.cases_text_left{
    float: left;
    margin-top: 40px;
    margin-left: 390px;
    height: 105px;
    width: 190px;
}

.cases_text_left h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
}

.cases button{
    margin-top: 15px;
    height: 46px;
    background-color: #63b5ae;
    color: #fff;
    font-size: 17px;
    padding: 0 30px;
    border-radius: 6px;
    text-transform: uppercase;
}

.cases button:active{
    transition: all 0.1s;
    transform: scale(1.1)
}

.cases_text_right{
    float: left;
    margin-top: 40px;
    height: 105px;
    width: 970px;
    padding-left: 100px;
}

.cases_text_right h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
}

.cases_text_right p{
    text-align: left;
    font-size: 15px;
    padding: 0px;
    line-height: 20px;
}


/*--cost--*/
.cost_calculation{
    height: 700px;
    width: 47%;
    margin-left: auto;
    margin-right: auto;
}

.cost_calculation h3{
    font-size: 18px;
    font-weight: 600;
    margin: 24px 0 15px 0;
}

#site_type{
    margin-top: 80px;
}

.cost_calculation select{
    width: 100%;
    background-color: #eee;
    color: #a2a2a2;
    font-size: 15px;
    padding: 10px 0px 10px 3px;
    cursor: pointer;
}

#Adaptability{
    margin-bottom: 35px;
}

.calculation{
    padding-top: 30px;
    border-top: 2px solid #eee;
}

.calculation p{
    float: left;
    width: 50%;
    text-align: left;
    font-weight: 600;
}

.calculation .Itog p{
    text-align: right;
}


/*--some_statistics--*/
.parallax{
    background-image: url(../img/parallax.jpeg);
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    position: relative;
}

.stats{
    display: flex;
    position: relative;
    width: 60%;
    justify-content: center;
    margin: 60px auto;
    font-weight: 400;
}

.stats h3{
    color: #000;
    font-weight: 900;
    font-size: 26px;
    margin: 30px 0;
}

.smile, .orange_znak, .galochka, .kubok{
    width: 300px;
    color: #000;
    text-align: center;
}

.smile::before, .orange_znak::before, .galochka::before, .kubok::before{
    content: "\f118";
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900;
    font-size: 47px;
    color: #cf7600;
}
.orange_znak::before{
    content: "\f121"
}
.galochka::before{
    content: "\f00c"
}
.kubok::before{
    content: "\f091"
}


/*--reviews--*/
.reviews{
    height: 590px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 15px;
    z-index: 100;
}

.reviews img{
    margin: 70px 0;
}

#Miha{
    margin-top: 20px;
}


/*--contacts--*/
.contacts{
    height: 810px;
    background: url(../img/contacts_fon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    color: #fff;
    text-align: center;
}

.contacts>p{
    margin: 50px 0;
}

.date{
    display: flex;
    position: relative;
    justify-content: center;
    width:40%;
    margin: 60px auto;
}

.Geo, .konvert, .Tel{
    margin: 20px 50px 0 50px;
    display: inline-block;
    width: 150px;
    text-align: center;
    line-height: 30px;
}

.Geo::before, .konvert::before, .Tel::before{
    content: "\f041";
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    font-weight: 600;
    font-size: 30px;
    color: #fff;    
}
.konvert::before{
    content: "\f0e0";
}
.Tel::before{
    content: "\f095";
}

.contacts h4{
    clear: both;
    margin-top: 70px;
}

#companyname{
    color: #fff;
    padding: 15px 0;
}

.form{
    width: 40%;
    margin: 30px auto;
}

#left:focus, #right:focus, #massage:focus{
    box-shadow: 0 0 4px 1px #88dccf;
}

.contacts input{
    font-size: 12px;
    line-height: 22px;
    padding: 5px 0 5px 4px;
}

#left{
    float: left;
    width: 47%;
}

#right{
    float: right;
    width: 47%;
}

#massage{
    width: 100%;
    height: 80px;
    resize: none; 
    margin: 15px auto;
    padding: 5px 0 0 4px;
}

#Send{
    display: block;
    margin: 15px auto;
    padding: 6px 10px;
    background: none;
    border: 1px solid #fff;
    border-radius: 6px;
    color: #fff;
    transition: transform 0.1s;
}

#Send:hover{
    transition: transform 0.1s;
    transform: scale(1.1);
    background: white;
    color: black;
}

.icons{
    display: flex;
    width: 25%;
    justify-content: center;
    margin: 50px auto;
}

.icons li{
    display: inline-block;
    width: 70px;
    text-align: center;
}
.icons li::before{
    content: "\f09a";
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.icons li:hover{
    transform: scale(1.2);
}

#twitter::before{
    content: "\f099";
}

#bol::before{
    content: "\f17d";
}
#kisa::before{
    content: "\f09b";
}
#inst::before{
    content: "\f16d";
}
#in::before{
    content: "\f0e1";
}

/*--footer--*/
footer{
    height: 100px;
    background: #354051;
}

footer h6{
    line-height: 100px;
    padding: 30px auto;
    color: #fff;
    text-align: center;
}